/* ==========================================================================
   FOOTER
   ========================================================================== */

.c-page-footer {
  background-color: #cacaca;
  padding-left: 25px;
  padding-right: 25px;
}